@charset "ISO-8859-1";

body{
	background-image : url("https://image.shutterstock.com/z/stock-photo-admin-business-team-hands-at-work-with-financial-reports-and-a-laptop-416145976.jpg");
	background-repeat: no-repeat;
	background-size : "100% 50%";
	
}